.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 1rem;
    border-style: solid;
    padding: 1rem;
    border-width: 1px;
    border-color: var(--border-grey);
    border-radius: 10px;
    background-color: var(--main-bg-color);
    width: 90%;
}

.post_title_text {
    font-size: calc(1rem + 1vw);
    font-weight: 500;
    color: var(--text-black-dark);
    text-transform: uppercase;
}

.post_meta_container {
    margin: .7rem 0;
    font-size: .8rem;
    color: var(--text-black-light2);
}

.image_container {
    height: 23rem;
    width: calc(45% + 2vw);
    border-style: solid;
    padding: .8rem;
    border-color: var(--border-grey);
    border-width: 1px;
    border-radius: 5px;
}

.image_container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.post_descr {
    width: 70%;
    padding: 2rem;
    color: var(--text-black-dark);
    font-size: 1.1rem;
    line-height: 2rem;
}

.post_descr ul {
    margin-left: 1rem;
}

.post_descr h2 {
    font-size: 2rem;
    margin: .6rem 0;
}

.post_descr h3 {
    font-size: 1.2rem;
    margin: .5rem 0;
}

.post_descr h4 {
    margin: .8rem 0;
}
.post_descr img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/*.post_descr code{*/
/*    background-color: #515151;*/
/*    padding: 1rem;*/
/*    color: white;*/
/*}*/

@media screen and (max-width: 1200px) {
    .image_container {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .image_container {
        width: 70%;
    }
    .post_descr{
        width: 90%;
    }
}

@media screen and (max-width: 760px) {
    .main{
        width: 98%;
        padding: 1rem 0;
        margin: .4rem 0;
    }
    .image_container {
        width: 85%;
    }
    .post_descr{
        width: 100%;
        padding: .5rem;
    }
}

@media screen and (max-width: 600px) {
    .image_container {
        width: 95%;
    }

}