:root {
    --primary-color: #016f6f;
    --primary-color-trans: rgba(1, 111, 111, 0.76);
    --primary-color-light: #039090;
    --primary-color-dark: #015757;
    --secondary-color: #ffeda9;
    --secondary-color-light: #FFF;
    --secondary-color-dark: #FFF;
    --border-grey: #c0c0c0;
    --text-black-dark: #2d2d2d;
    --text-black-light1: #585858;
    --text-black-light2: #7b7b7b;
    --body-bg-start: #a0a6b2;
    --body-bg-end: #dedede;
    --main-bg-color: #EEEEEE;
}


*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(to bottom right, var(--body-bg-start), var(--body-bg-end)) no-repeat;
    min-height: 100vh;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

/*main {*/
/*    width: 90vw;*/
/*    display: flex;*/
/*    min-height: 60vh;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*    margin: 1rem 0;*/
/*    background-color: var(--main-bg-color);*/
/*    padding: 1rem 3rem;*/
/*    border-radius: 10px;*/
/*}*/

.snackbar_close_button {
    font-size: 1.5rem;
    color: darkred;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
}