.header {
    width: 100vw;
    height: calc(2rem + 3vw);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;
}

.logo_box img {
    height: calc(1.2rem + 1.1vw);
}

.logo_text {
    color: white;
    font-weight: 300;

    font-size: 2rem;
}

.main_nav {
    display: flex;
    align-items: center;
}


.main_nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.main_nav_links_item {
    text-transform: uppercase;
    font-size: calc(.5rem + .6vw);
    margin-right: calc(1rem + .5vw);
    color: white;
    font-weight: 400;
    transition: color .5s ease-in;
    cursor: pointer;
}

.menu_btn {
    display: none!important;
}

.main_nav_links_item:hover,
.main_nav_links_item:active {
    color: var(--secondary-color);
}
.side_menu{
    position: absolute;
    top: calc(2rem + 3vw);
    right: 0;
    height: 100vh;
    background-color: var(--primary-color);
    width: 50%;
    display: none;
    z-index: 100;
}

.side_nav_ul{
    display: none;
    list-style: none;
}
.side_menu_hidden{
    display: none;
}

@media screen and (max-width: 600px) {
    .main_nav_links {
        display: none;
    }
    .main_nav {
        display: flex;
        align-items: center;
    }
    .logo_box{
        margin-left: 1rem;
    }
    .menu_btn {
        color: white;
        margin-top: .4rem;
        display: block!important;
        z-index: 100;
    }
    .side_menu{
        display: block;
    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .side_nav_ul{
        display: block;
    }
    .main_nav_links_item {
        margin: 1rem;
        font-size: .9rem;
    }
}