.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    background-color: var(--main-bg-color);
    padding: 1rem 3rem;
    border-radius: 10px;
    height: 45vh;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.login_signup_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25rem;
    margin: 1.5rem 1rem;
    height: 100%;
}

.text_input_field {
    margin: 1.0rem;
    width: 90%;
}

.form_btn_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form_btn {
    font-size: .8rem;
    width: 5rem;
    height: 2rem;
}


.signup_login_title {
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-black-dark);
    margin-top: 1rem;
    border-bottom: solid;
    border-color: var(--primary-color);
    padding: .4rem;
}

.grey_line {
    width: 60%;
    height: .1rem;
    background-color: var(--border-grey);
}

.create_acc_login {
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 1rem;
    color: var(--primary-color);
}

@media screen and (max-width: 600px) {
    .login_signup_form {
        width: 100%;
    }
}